<div>
    <ul [ngStyle]="{'background-color':backgroundColor}">
      <li *ngFor="let item of tabs; let i=index; let f=first;let even=even;let odd=odd" [ngClass]="{'even':even,'odd':odd}">
        <a [ngStyle]="{color:selectedIndex===i?titleActiveColor:titleColor}"  (click)="handleSelection(i)" >
          {{item.title}}
        </a>

        <span class="indicator" [ngStyle]="{'background-color':indicatorColor}" *ngIf="i===selectedIndex"></span>
        
        </li>
        
    </ul>
   
  </div>
